NEXT_PUBLIC_SUPABASE_URL=https://mhlnnufcbeezctppuzey.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1obG5udWZjYmVlemN0cHB1emV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyOTU4NjYsImV4cCI6MjEwMzg3MTg2Nn0.BncBcm04ckzj6WHBc5c4wvdQ-7QEu7N2AJBfsqgBS0I
